#mainSnsBox {
  display: flex; flex-direction: column; justify-content: space-between;
  width: 100%; height: 540px;
  padding: 90px 32px 104px 32px; box-sizing: border-box;
  background-color: #add; }
h2 { width: 100%; height: 60px; background-color: #fff;}
p { width: 100%; height: 32px; 
  margin-bottom: 2rem;
  background-color: #fff;}
.sns_area {
  width: 100%; height: 200px;
  background-color: #fff;
}