#mainSlideBox {
  position: relative; z-index: 10; 
  display: flex; flex-direction: column;
  justify-content: space-between;
  width: 100%; height: 530px;
  padding: 2rem; box-sizing: border-box;
  background-color: #add;}
  .slider_area {
    width: 100%; height: 520px;
    margin-bottom: 20px;
    background-color: rgba(51,102,255,99); }
  .slide_button { 
    position: absolute; z-index: 100; top: 42%; 
    width: 100%; height: 32px; background-color: #fff;}
  .slider-dot { 
    width: 70px; height: 36px; 
    margin: auto;
    background-color: #fff;}